{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw9 center">
    <div class="flex-l items-center">
      <div class="mh5-l w-50-l">
        {{ with .Params.title }}<h1 class="f2 f1-m f-subheadline-l fw5-ns mv4 lh-solid tracked-tight">{{ . }}</h1>{{ end }}
        {{ with .Params.subtitle }}<h2 class="f7 fw7 measure mv0 ttu tracked">{{ . }}</h2>{{ end }}
        {{ with .Params.description }}<p class="f4 measure mv4 lh-copy black-50">{{ . | markdownify }}</p>{{ end }}
        
        <p>Our understanding of human speech is increasingly shaped by 
        quantitative data. It is thus of critical importance to evaluate 
        quantitative findings inferentially. This workshop aims at introducing 
        Bayesian inference for the quantification of phonetic data. Following 
        other scientific disciplines, the last decades where dominated by 
        statistical inference within the null-hypothesis-significance-testing 
        framework. This framework comes with many conceptual challenges and 
        pitfalls, and comes with technical limitations that prevent us from 
        analyzing our data in an appropriate way. More recently, many 
        researchers have started to use an alternative inferential framework: 
        Bayesian inference. Bayesian inference more closely answers the 
        research questions we ask; it is much more flexible; and it allows us 
        to run appropriate statistical tests. Until recently, this framework 
        was technically very involved and represented computational 
        challenges. These challenges have now been overcome, making Bayesian 
        inference conceptually, technically, and computationally feasible for 
        researchers across disciplines.</p>
        <p>Our workshops introduce the logic of Bayesian inference and 
        contrast it to null-hypothesis-significance-testing. After providing a 
        brief conceptual introduction, the course will walk through a Bayesian 
        statistical analysis using R and the package brms (Bürkner 2017), 
        explaining how to set up a Bayesian regression model (including 
        setting appropriate priors), how to test 'hypotheses' (including 
        parameter estimation and Bayes factor), how to interpret the results, 
        how to diagnose model convergence, and how to visualize and report the 
        results. In hands-on exercises, the participants will immediately 
        apply their knowledge to new data sets in R.</p>
        <h4>Upcoming workshops:</h4>
        We will be running an online workshop this summer for LabPhon. 
        Details to come so stay tuned.<br>
        <ul>
        <li>5th July: 10am EST - 2pm EST</li>
        <li>6th July: 10am EST - 2pm EST</li>
        <li>12th July: 10am EST - 2pm EST</li>
        </ul>
        {{ if .Params.show_action_link }}<a class="action {{ .Params.action_type }}" href="{{ .Params.action_link }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
      </div>
      <div class="tr w-50-l">
      {{ with .Params.images }}
        {{ range first 1 . }}<img class="mv0 w-70-m" src="{{ . }}"/>{{ end }}
      {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}
